@import '../../statics/styles/variables.css';

.pagination {
    margin-bottom: calc(var(--size__leading) * 2);

    &_item {
        height: calc(var(--size__base-line-height) * 1rem);
        width: calc(var(--size__base-line-height) * 1rem);
        margin: 0 2px;
        font-size: 1rem;
        font-weight: 700;
        line-height: var(--size__base-line-height);
        text-align: center;
        color: var(--color__Gray);
        border: 1px solid;
    }

    &_active {
        color: var(--color__link);
        border-color: transparent;
    }
}
