:root {
    --baseFontSize: 16;
    --baseLineHeight: 1.5; /* 24 */
    --leading: calc(var(--baseLineHeight) * 1rem);
    --scale: 1.414;

    --gutter: 8px;
    --baseColumnWidth: 66.666px;
    --columnWidth: calc(var(--baseColumnWidth) + var(--gutter) * 2);
    --siteWidth: calc(var(--columnWidth) * 8 - var(--gutter) * 2);
}

