.header {
    &__title {
        font-variant: small-caps;

        &_site {
            font-size: 2rem;
            margin-top: 0;
        }

        &_post {
            font-size: 2.5rem;
        }
    }

    &__subtitle {
        font-size: 1rem;
        margin-top: 0;
    }
}
