@import '../../statics/styles/variables.css';

.flex {
    display: flex;
    margin: 0 calc(0 - var(--size__gutter)) var(--size__leading);
}

.box {
    padding: 0 var(--size__gutter) 0 var(--size__gutter);
}
