@import '../../statics/styles/variables.css';

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 calc(0 - var(--gutter)) var(--leading);
}

.box {
    padding: 0 var(--gutter) 0 var(--gutter);
}
