@import '../../statics/styles/variables.css';

.notFound {
  display: block;
  position: relative;
  overflow: hidden;

  &__404 {
    bottom: 60px;
    color: white;
    display: block;
    font-family: sans-serif;
    font-size: 10rem;
    font-weight: 700;
    letter-spacing: 10px;
    position: absolute;
    text-align: center;
    text-shadow: 0 5px 1px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    width: 100%;
  }
}
