@import '../../statics/styles/variables.css';

.appContainer {
    display: block;
    margin: 0 auto;
    max-width: var(--size__site-width);
    position: relative;
    transition: left 0.3s ease-out;
}
